<script type="text/javascript">
  $(function(){
    $("#search").keyup(function(){
      $("tr.subscribers").hide();
      $("tr.subscribers").filter(":contains('"+ $("#search").val() + "')").show();
      if ($("#search").val()='') {
        $("tr.subscribers").show();
      }
    })
  })
</script>
</body>
</html>
