<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
</head>
<body>
  <a href="/subscribersadd">添加订阅</a>
  <a href="/subscribers">全部订阅</a>
  <a href="/subscribersvalid">期内订阅</a>
  <a href="/subscribersinvalid">到期订阅</a>
  <a href="/subscribersdeleted">被删订阅记录</a>
</body>
</html>
