<% include ./partials/header.ejs %>
<div class="container-fluid">
  <div class="row">
    <form action="/subscribers" method="post" class="text-center">
      <table class="table">
        <tr>
          <td class="adding">姓名</td>
          <td><input name="personname" type="text"></td>
        </tr>
        <tr>
          <td class="adding">公司</td>
          <td><input name="companyname" type="text"></td>
        </tr>
        <tr>
          <td class="adding">起始日期</td>
          <td><input name="startdate" type="date"></td>
        </tr>
        <tr>
          <td class="adding">截止日期</td>
          <td><input name="enddate" type="date"></td>
        </tr>
        <tr>
          <td class="adding">街道</td>
          <td><input name="street" type="text"></td>
        </tr>
        <tr>
          <td class="adding">门牌号</td>
          <td><input name="streetnumber" type="text"></td>
        </tr>
        <tr>
          <td class="adding">区域</td>
          <td><input name="area" type="text"></td>
        </tr>
        <tr>
          <td class="adding">城市</td>
          <td><input name="city" type="text"></td>
        </tr>
        <tr>
          <td class="adding">邮编</td>
          <td><input name="tk" type="text"></td>
        </tr>
        <tr>
          <td class="adding">国家</td>
          <td><input name="country" type="text"></td>
        </tr>
        <tr>
          <td class="adding">订阅费</td>
          <td><input name="fee" type="text"></td>
        </tr>
        <tr>
          <td class="adding">备注</td>
          <td><input name="comment" type="text"></td>
        </tr>
        <tr>
          <td class="adding">收款人</td>
          <td><input name="responsibleperson" type="text"></td>
        </tr>
        <tr>
          <td class="adding">电话</td>
          <td><input name="phone" type="text"></td>
        </tr>
        <tr>
          <td class="adding">版面</td>
          <td><select name="pages">
            <option value="32" selected>32</option>
            <option value="8">8</option>
          </select></td>
        </tr>
        <tr>
          <td class="adding"></td>
          <td><input type="submit" class="btn btn-primary" onclick="return confirm('确认提交吗？')"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<% include ./partials/footer.ejs %>
